# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
newenv/

# Django migrations
*/migrations/
!*/migrations/__init__.py  # Keep __init__.py so Django sees it as a module

# Database
*.sqlite3

# VSCode and other editor configs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.newenv/
